.card {      
     height: 160px;
     font-size: 130%;
    &-container {        
        padding-left: 5px;        
        max-width: 255px;
        height: 100%;

        &-header {
            display: flex;      
            align-items: center;
            height: 40%;
            @media #{$small-and-down} {
                height: 25%;
            }

            &-timer {
                flex-shrink: 0;                
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: gray;
                color: white;
                font-size: 20px;
                font-weight: 700;
                line-height: 40px;
                text-align: center;
                &::after {
                    content: '’';
                }
            }                       
            i {
                margin: 0 10px 0 10px;                
            }
            &-title {                
                margin-right: 10px;                
                @media #{$small-and-down} {
                    display: inline
                }
            }

            &-oval {
                width: 4.5px;
                height: 4.5px;
                background: white;
                border: 0.5px solid #979797;
                border-radius: 50%;                                
            }
            &-line {                
                width: 7em;                
                 @media #{$small-and-down} {
                     width: calc(100% - 60px);                
                 }
                height: 1px;
                background: #979797;
            }
        }   
        &-body {
            margin-left: 7px;
            display: flex;
            &-title {                                                 
                    margin: 0 0 0 10px;                
            }
            &-comment{
                        margin: 0 10px;
                        border-right: solid 0.5px #d1d1d1;     
            }            
            a {
                display: flex;
                font-weight: 600;
                position: relative;
                left: 22px;
                top: 15px;
                &:visited { text-decoration: none; color:#42464b;  }
            }
            i.permalink {
                color: $arrow-color;
                margin-left: 3px;
            }
        }
        
  }  
  i {
      font-size: 1.3em;
  }
}

body.sticky {
  .card {
      height: 70px;
      .card-container{
          &-header {
              height: 100%;
              &-title {  
                  margin-right: 5px;
              }
              i {
                  margin: 0 5px 0 8px;                
              }
          }
            &-body {                                    
              &-comment{
                  display: none;
              }
            }
      }
  }
}


.lm-yellow-card:before {
  content: "\e959";
  color:#FCCA44;
}
.lm-red-card:before {
  content: "\e95a";
  color:#DE2E3B;
}
.lm-yellow-red-card {
    position: relative;
    &::before {
        content: "\e955";      
        color: #FCCA44;  
        top: calc(50% - 13px);
    }
    &::after {
        content: "\e955";            
        font-size: 15px;
        position: absolute;
        right: -1px;
        top: calc(50% - 10px);
        color: #DE2E3B;  
    }
}