@font-face {
  font-family: 'livematch';
 /* src:  url('http://univision-brightspot-qa-develop.s3.amazonaws.com/67/fd/09792e3c4f9eb45fbb0bf6a1cdfa/livematch.eot');
  src:  url('http://univision-brightspot-qa-develop.s3.amazonaws.com/67/fd/09792e3c4f9eb45fbb0bf6a1cdfa/livematch.eot?gnca7z#iefix') format('embedded-opentype'),
    url('http://univision-brightspot-qa-develop.s3.amazonaws.com/7d/67/7d6b388240c188b6be5a889cb1d8/livematch.ttf?gnca7z') format('truetype'),
    url('http://univision-brightspot-qa-develop.s3.amazonaws.com/20/b0/c20e07f54d85bc3943b0ae64be28/livematch.woff?gnca7z') format('woff'),
    url('http://univision-brightspot-qa-develop.s3.amazonaws.com/a2/1a/24c238a24a75b040b3734ee34de8/livematch.svg?gnca7z#livematch') format('svg');*/
    src:  url('fonts/livematch.eot?gnca7z');
    src:  url('fonts/livematch.eot?gnca7z#iefix') format('embedded-opentype'),
    url('fonts/livematch.ttf?gnca7z') format('truetype'),
    url('fonts/livematch.woff?gnca7z') format('woff'),
    url('fonts/livematch.svg?gnca7z#livematch') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'livematch' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lm-line-up-announcement:before {
  content: "\e907";
}
.lm-game-end:before {
  content: "\e925";
}
.lm-close:before {
  content: "\e903";
}
.lm-calendar:before {
  content: "\e909";
}
.lm-arrow-left:before {
  content: "\e916";
}
.lm-live:before {
  content: "\e917";
}
.lm-score:before {
  content: "\e918";
}
.lm-t-card:before {
  content: "\e921";
}
.lm-hands:before {
  content: "\e923";
}
.lm-period-end:before {
  content: "\e924";
}
.lm-game-start:before {
  content: "\e927";
}
.lm-period-start:before {
  content: "\e926";
}
.lm-arrow-right:before {
  content: "\e936";
}
.lm-delayed-start:before {
  content: "\e950";
}
.lm-delayed-end:before {
  content: "\e94f";
}
.lm-corner:before {
  content: "\e951";
}
.lm-foul:before {
  content: "\e952";
}
.lm-goal:before {
  content: "\e953";
}
.lm-offside:before {
  content: "\e954";
}
.lm-yellow-card:before {
  content: "\e959";
}
.lm-red-card:before {
  content: "\e95a";
}
.lm-yellow-red-card:before {
  content: "\e955";
}
.lm-shot:before {
  content: "\e956";
}
.lm-free-kick:before {
  content: "\e957";
}
.lm-substitution:before {
  content: "\e958";
}
