.cover {    
    display: flex;
    flex-direction: column;
    border-right: solid 0.5px #d1d1d1;     
    height: 160px;
    font-size: 130%;
    &-team {
        display: flex;      
        align-items: center;
        position: relative;        
        
        span {            
            width: 5%;  
            height: 90%;  
            top: 0;
            position: absolute;
        }
        &-logo {
                margin-left: 20px;
                margin-right: 20px;
                width: 15%  ;
        }
        &-name{
            flex-grow: 2;
        } 
        &-score {
            margin-right: 20px;
        }       
    }   
}